/* Home.css */

.home__background {
    width: 100%;
    height: 300px; /* Adjust as needed */
    background-image: url('https://firebasestorage.googleapis.com/v0/b/nature-s-cart.appspot.com/o/Logo.png?alt=media&token=26afe3eb-41d9-4777-af31-dac3499d6dee');
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    margin-bottom: 20px; /* Adjust as needed */
}

.home__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
    position: relative;
    z-index: 1; /* Ensure it is above the background */
}

.home__categoryButton {
    background-color: orange; /* Set background to orange */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home__categoryButton:hover {
    background-color: #ff8c00; /* Darker shade of orange for hover effect */
}

.home__subcategory {
    margin-bottom: 20px;
    text-align: center;
}

.home__subcategories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.home__subcategoryItem {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home__subcategoryItem:hover {
    background-color: #ddd;
}

.home__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.features {
    padding: 20px 0;
    text-align: center;
}

.features .heading {
    font-size: 2rem;
    margin-bottom: 20px;
}

.features .heading span {
    color: #ff6347;
}

.features .box-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch; /* Ensure all boxes have the same height */
}

.features .box {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 20%; /* Set width to make them medium-sized */
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features .box:hover {
    transform: translateY(-10px);
}

.features .box img {
    width: 90%;
    height: 150px;
}

.features .box h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.features .box p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    flex-grow: 1; /* Ensure the paragraph takes up available space */
}

.features .box .btn {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    align-self: flex-end; /* Align the button to the bottom */
}

.features .box .btn:hover {
    background-color: #e5533d;
}
