/* Header.css */

.header {
    background-color: #006400;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    margin: 0 20px;
    margin-top: 18px;
    object-fit: contain;
    border-radius: 50%;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header__basketCount {
    margin: 0px 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__link {
    color: #ffffff;
    text-decoration: none;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__searchInput {
    flex-grow: 1;
    padding: 10px;
    height: auto;
    border: none;
}

.header__searchIcon {
    background-color: #cd9042;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.header__searchIcon svg {
    width: 24px;
    height: 24px;
}

.header__searchIcon {
    overflow: visible;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .header__nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .header__search {
        width: 100%;
        margin: 10px 0;
    }
}

