.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Ensure space distribution */
    width: 25%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    margin: 10px;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    position: relative;
    overflow: visible; /* Change this if you want to see overflow content */
}

.product img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 150px; /* Adjust this as necessary */
    object-fit: contain;
}

.product__info {
    flex: 1; /* Gives it flexibility to expand */
    width: 100%; /* Full width */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}
